@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
@media (max-width: 767px) {
  body {
    background-color: #e6e3e3;
    height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.eye {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  height: 700px;
  /* 控制眼皮開合 */
}
.eye .eye__base {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(https://m.media-amazon.com/images/I/818qSkMfKzL._UF1000,1000_QL80_.jpg);
  /* background: rgb(218, 216, 216); */
  border-radius: 80% 0;
  background-size: cover;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  overflow: hidden;
}
.eye .eye__ball {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 100%;
}
.eye .eye__lid__open {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  height: 700px;
}
.eye .eye__lid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  height: 700px;
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  pointer-events: none;
}
.eye .eye__lashes {
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: solid 35px rgb(255, 255, 255);
  border-right: solid 35px rgb(255, 255, 255);
  border-radius: 80% 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.eye .eye__lid__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  border-radius: 80% 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (max-width: 1365px) {
  .eye {
    -webkit-transform: translate(-35%, -50%) scale(0.7);
            transform: translate(-35%, -50%) scale(0.7);
  }
}

#oneoclock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  margin-top: 28px;
  width: 550px;
  height: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#oneoclock .text {
  margin: 4px;
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-family: "Patua One", serif;
}
#oneoclock .l {
  position: relative;
  width: 100px;
  height: 180px;
}
#oneoclock .l span {
  display: block;
  left: 24px;
  top: 92px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background: #ffffff;
}
#oneoclock .l:after,
#oneoclock .l:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 0.1rem;
  top: 60%;
  left: 40%;
  opacity: 0.9;
}
#oneoclock .l:after {
  border-top: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  border-left: 12rem solid #ffffff;
  -webkit-transform-origin: 25% 50%;
          transform-origin: 25% 50%;
  -webkit-animation: l-after 1s ease infinite alternate;
          animation: l-after 1s ease infinite alternate;
}
#oneoclock .l:before {
  border-top: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  border-left: 9rem solid #ffffff;
  -webkit-transform-origin: 15% 50%;
          transform-origin: 15% 50%;
  -webkit-animation: l-before 1s ease infinite alternate;
          animation: l-before 1s ease infinite alternate;
}
@media (max-width: 1365px) {
  #oneoclock {
    -webkit-transform: translate(-20%, -22%) scale(0.6);
            transform: translate(-20%, -22%) scale(0.6);
  }
}

#album {
  position: absolute;
  top: 170px;
  margin-left: 16px;
  font-family: "Shippori Antique", sans-serif;
  font-size: 56px;
  color: rgb(255, 255, 255);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}
@media (max-width: 1365px) {
  #album {
    -webkit-transform: translate(-20%, -75%) scale(0.6);
            transform: translate(-20%, -75%) scale(0.6);
  }
}

@-webkit-keyframes l-after {
  0% {
    -webkit-transform: translate(-25%, -50%) rotate(15deg);
            transform: translate(-25%, -50%) rotate(15deg);
  }
  100% {
    -webkit-transform: translate(-25%, -50%) rotate(10deg);
            transform: translate(-25%, -50%) rotate(10deg);
  }
}

@keyframes l-after {
  0% {
    -webkit-transform: translate(-25%, -50%) rotate(15deg);
            transform: translate(-25%, -50%) rotate(15deg);
  }
  100% {
    -webkit-transform: translate(-25%, -50%) rotate(10deg);
            transform: translate(-25%, -50%) rotate(10deg);
  }
}
@-webkit-keyframes l-before {
  0% {
    -webkit-transform: translate(-15%, -50%) rotate(-70deg);
            transform: translate(-15%, -50%) rotate(-70deg);
  }
  100% {
    -webkit-transform: translate(-15%, -50%) rotate(-88deg);
            transform: translate(-15%, -50%) rotate(-88deg);
  }
}
@keyframes l-before {
  0% {
    -webkit-transform: translate(-15%, -50%) rotate(-70deg);
            transform: translate(-15%, -50%) rotate(-70deg);
  }
  100% {
    -webkit-transform: translate(-15%, -50%) rotate(-88deg);
            transform: translate(-15%, -50%) rotate(-88deg);
  }
}
#player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  width: 100%;
  position: fixed;
  bottom: 16px;
  height: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}
#player #player__info {
  font-family: "Patua One", serif;
  font-size: 40px;
  font-weight: bold;
}
#player #player__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 580px;
  margin-bottom: 32px;
}
#player #player__control i {
  font-size: 36px;
  cursor: pointer;
}
#player #player__control i:hover {
  color: #d33636;
}
#player #player__knob {
  width: 680px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 50px;
}
#player input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #b9b9b9;
  outline: none;
}
#player input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d33636;
  border: #e0e0e0 solid 3px;
  cursor: pointer;
}
@media (max-width: 1365px) {
  #player {
    -webkit-transform: translate(9%, -20%) scale(0.6);
            transform: translate(9%, -20%) scale(0.6);
    height: 75px;
  }
}

#controls__speed {
  width: 30%;
  position: fixed;
  bottom: 110px;
  padding: 16px;
}
#controls__speed button {
  width: 100px;
  height: 36px;
  border: none;
  color: #000000;
  font-size: 16px;
  background-color: #ffffff;
  font-family: "Patua One", serif;
  margin-right: 40px;
  border-radius: 8px;
}
#controls__speed button:hover {
  background-color: #d33636 !important;
  color: #ffffff !important;
}
@media (max-width: 1365px) {
  #controls__speed {
    bottom: 20px;
    -webkit-transform: translate(-14%, 35%) scale(0.7);
            transform: translate(-14%, 35%) scale(0.7);
  }
  #controls__speed button {
    width: 80px;
    margin-right: 8px;
  }
}

.text-red-500 {
  color: #d33636;
}

#playlist {
  font-family: "Patua One", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin-top: 32px;
  margin-left: 16px;
  float: left;
  width: 20%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}
#playlist :hover {
  border-radius: 8px;
  background-color: #cdcbcb;
  cursor: pointer;
}
#playlist div {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
#playlist div:last-child {
  border-bottom: none;
}
#playlist p {
  margin: 0;
  font-size: 18px;
}
@media (max-width: 1365px) {
  #playlist {
    -webkit-transform: translate(-15%, -33%) scale(0.7);
            transform: translate(-15%, -33%) scale(0.7);
  }
}

.album__mobile {
  position: absolute;
  top: 50%;
  left: 47%;
  -webkit-transform: translate(-32%, -50%) scale(0.8);
          transform: translate(-32%, -50%) scale(0.8);
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575px) {
  .album__mobile {
    -webkit-transform: translate(-36%, -50%) scale(0.6);
            transform: translate(-36%, -50%) scale(0.6);
  }
}

.album__cover {
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: url("https://gcs.rimg.com.tw/g2/9/c7/92/21908903051154_928.jpg");
  background-size: cover;
  -webkit-box-shadow: -10px 10px 10px rgb(0, 0, 0);
          box-shadow: -10px 10px 10px rgb(0, 0, 0);
}

.canvas__zoom {
  position: relative;
  left: 30px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  z-index: -1;
}

.player__zoom {
  background-color: #ffffff;
  width: 520px;
  height: 520px;
  position: fixed;
  left: 10%;
  top: -5px;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.player__zoom #album__text__mobile {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  width: 200px;
  height: 70px;
  padding: 4px;
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 32px;
  font-family: "Shippori Antique", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}
.player__zoom #album__text__mobile:hover {
  -webkit-transform: translate(12px, 12px);
          transform: translate(12px, 12px);
  color: #000000;
}
.player__zoom #album__text__mobile:hover::before {
  background: #d33636;
}
.player__zoom #album__text__mobile:hover::after {
  -webkit-transform: translate(-12px, -12px);
          transform: translate(-12px, -12px);
  background-color: #000000;
}
.player__zoom #album__text__mobile::before, .player__zoom #album__text__mobile::after {
  content: "";
  display: block;
  width: 200px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.player__zoom #album__text__mobile::before {
  background-color: #000000;
  z-index: -1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.player__zoom #album__text__mobile::after {
  background-color: #d33636;
  z-index: -2;
  -webkit-transform: translate(12px, 12px);
          transform: translate(12px, 12px);
}
.player__zoom #album__text__mobile p {
  margin: 0;
}

#player__mobile {
  width: 52%;
  background-color: #ffffff;
  padding: 28px;
  font-family: "Patua One", serif;
  margin-left: 8px;
}
#player__mobile input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 110%;
  margin-left: -10px;
  border-radius: 5px;
  background: #b9b9b9;
  outline: none;
}
#player__mobile input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #d33636;
  border: #e0e0e0 solid 1px;
  cursor: pointer;
}

#player__info__mobile {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
}

#player__knob__mobile {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

#player__control__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#player__control__mobile div {
  cursor: pointer;
}

#player__control__mobile i {
  font-size: 20px;
}
#player__control__mobile i:hover {
  color: #d33636;
}