.album__mobile {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-32%, -50%) scale(0.8);
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include sm {
    transform: translate(-36%, -50%) scale(0.6);
  }
}

.album__cover {
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: url('https://gcs.rimg.com.tw/g2/9/c7/92/21908903051154_928.jpg');
  background-size: cover;
  box-shadow: -10px 10px 10px rgba(0, 0, 0);

}

.canvas__zoom {
  position: relative;
  left: 30px;
  transform: scale(0.8);
  z-index: -1;
}

.player__zoom {
  background-color: #ffffff;
  width: 520px;
  height: 520px;
  position: fixed;
  left: 10%;
  top: -5px;
  z-index: -1;
  display: flex;
  align-items: center;
  transform: scale(0.5);

  #album__text__mobile {
    user-select: none;
    color: #fff;
    width: 200px;
    height: 70px;
    padding: 4px;
    position: absolute;
    top: 24px;
    left: 24px;
    font-size: 32px;
    font-family: "Shippori Antique", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    &:hover {
      transform: translate(12px, 12px);
      color: #000000;

      &::before {
        background: #d33636;
      }

      &::after {
        transform: translate(-12px, -12px);
        background-color: #000000;
      }
    }

    &::before,
    &::after {
      content: '';
      display: block;
      width: 200px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s;
    }

    &::before {
      background-color: #000000;
      z-index: -1;
      transform: translate(0, 0);
    }

    &::after {
      background-color: #d33636;
      z-index: -2;
      transform: translate(12px, 12px);
    }



    p {
      margin: 0;
    }
  }
}

#player__mobile {
  width: 52%;
  background-color: #ffffff;
  padding: 28px;
  font-family: "Patua One", serif;
  margin-left: 8px;

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 110%;
    margin-left: -10px;
    border-radius: 5px;
    background: #b9b9b9;
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #d33636;
    border: #e0e0e0 solid 1px;
    cursor: pointer;
  }
}

#player__info__mobile {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
}

#player__knob__mobile {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

#player__control__mobile {
  display: flex;
  justify-content: space-between;

}

#player__control__mobile div {
  cursor: pointer;
}

#player__control__mobile i {
  font-size: 20px;

  &:hover {
    color: #d33636;
  }
}